.span3.hidden-phone
  .well.sidebar-nav
    .nav-list
      %img{:alt => "Lines We Trace", :title => "Lines We Trace", :src => "/images/lines-we-trace-album-art.jpg" }
      %h2 Hey Marseilles
      %h4 Lines We Trace Tour 2013
      %p
        Trailer Swift is the name of our trailer. 
        %a{:href => "http://heymarseilles.com"} Lines We Trace 
        is the brand new album we released 3/5/13. 
        Follow our route around the country and catch a show if you can.
    %ul.nav.nav-list.tour-dates
      %li.nav-header.tour-dates-header Upcoming Tour Dates

      %li.nav-header.hey-marseilles-header= @profile.band_name
      %li
        %a{:href => "http://heymarseilles.com/media"} Music and videos
      %li
        %a{:href => "http://heymarseilles.com/store"} Get the record
      %li
        %a{:href => "http://www.facebook.com/heymarseilles"} Facebook
      %li
        %a{:href => "http://www.twitter.com/heymarseilles"} Twitter
      %li
        %a{:href => "http://www.instagram.com/heymarseilles"} Instagram

      %li.nav-header Disclaimer
      %li
        %span
          All map element locations are approximate and should not be used for navigation. Trailer Swift location is not real-time.

