.col-md-2.hidden-xs.sidebar
  // some tour image should go here!
  -#%img{:alt => "image title", :title => "image title", :src => "/images/image.jpg" }
  .sidebar-module.sidebar-module-inset
    %h3.page-header Tour Dates Admin
    %ul.nav.nav-sidebar
      %li
        = link_to "View Tour", parent
      %li
        = link_to "Manage Tour Dates", tour_tour_dates_path(parent)
      %li
        = link_to "Manage GPS Locations", tour_locations_path(parent)

