- content_for :sidebar do
  = render 'locations/sidebar'

%h1= @tour.name
%h3 Manage Tour Dates

%table.table.table-striped
  %thead
    %tr
      %th
      %th id
      %th date
      %th city, state
      %th venue
      %th ticket url
      %th facebook url
      %th latitute
      %th longitude

  %tbody
    = render @tour_dates

= link_to 'New Tour Date', new_tour_tour_date_path(@tour), class: 'btn btn-primary'
