%footer.hidden-phone
  %p
    %a{:href => 'http://github.com/philipkobernik/trailerswift'} Open source
    project by
    %a{:href => 'http://github.com/philipkobernik'} philipkobernik
    and
    %a{:href => 'http://github.com/aelath'} aelath
