.col-md-2.hidden-xs.sidebar
  // some tour image goes here!
  -#%img{:alt => "Lines We Trace", :title => "Lines We Trace", :src => "/images/lines-we-trace-album-art.jpg" }
  .sidebar-module.sidebar-module-inset
    %h2= @tour.user.band_name
    %h3= @tour.name
    %p
      #{ @tour.user.band_name } is crushing it, and you would be wise to check 'em out while they are on tour!
      // arguably some custom promo blurb goes here

  .sidebar-module.sidebar-module-inset
    %h4 Upcoming Tour Dates
    %ul.nav.nav-sidebar.tour-dates.upcoming

    %h4 Past Tour Dates
    %ul.nav.nav-sidebar.tour-dates.past

    %h4 Resources
    %ul.nav.nav-sidebar.tour-dates
      %li
        %a{:href => "#"} Music and videos
      / arguably some custom band links would go here!


  .sidebar-module.sidebar-module-inset
    %h4 Disclaimer
    %p
      All map element locations are approximate and should not be used for navigation. Trailer Swift location is not real-time.

