html {
  height: 100% !important;
}

body {
  height: 100% !important;
  margin: 0;
  padding: 0;
}

#map_canvas {
  width: 100% !important;
  height: 744px !important;
}

.hero-unit {
  padding: 0 !important;
}
