.col-md-3.hidden-xs.sidebar
  // some tour image goes here!
  -#%img{:alt => "Lines We Trace", :title => "Lines We Trace", :src => "/images/lines-we-trace-album-art.jpg" }
  .sidebar-module.sidebar-module-inset
    %h3.page-header Admin
    %ul.nav.nav-sidebar
      %li
        =link_to "Tours", tours_path

