- content_for :sidebar do
  = render 'locations/sidebar'

%h1= @tour.name
%h3 Manage GPS History

%table.table.table-striped
  %thead
    %tr
      %th
      %th id
      %th located_at
      %th lat
      %th lng
      %th city
  %tbody
    = render @locations
