!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Trailer Swift
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAYPpFI_wyvt3rugd8nIgKau21DyqDypKQ&sensor=true", :type => "text/javascript"}
    = csrf_meta_tags

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    <!-- Keep Facebook in the loop -->
    <meta property="og:title" content="Trailer Swift"/>
    <meta property="og:image" content="http://hm.campdoug.com/wp-content/uploads/2013/02/facebook-heymarseilles.jpg"/>
    <meta property="og:site_name" content="Trailer Swift"/>
    <meta property="og:description" content="Track Hey Marseilles and Trailer Swift as they tour the US in support of the new album Lines We Trace"/>

    %link{:href => "../assets/css/bootstrap-responsive.css", :rel => "stylesheet"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="../assets/js/html5shiv.js"></script>
    / Fav and touch icons
    %link{:href => "../assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "../assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "../assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "../assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "../images/favicon1.ico", :rel => "shortcut icon"}/
  %body
    -#.navbar.navbar-inverse.navbar-fixed-top
      -#.navbar-inner
        -#.container-fluid
          -#%button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            -#%span.icon-bar
            -#%span.icon-bar
            -#%span.icon-bar
          -#%a.brand{:href => "#"} Trailer Swift
          -#.nav-collapse.collapse
            -#%p.navbar-text.pull-right
              -#Logged in as
              -#%a.navbar-link{:href => "#"} Username
            -#%ul.nav
              -#%li.active
                -#%a{:href => "#"} Home
              -#%li
                -#%a{:href => "#about"} About
              -#%li
                -#%a{:href => "#contact"} Contact
          -#/ /.nav-collapse
    .container-fluid
      .row-fluid
        .span3.hidden-phone
          .well.sidebar-nav
            .nav-list
              %h2 Hey Marseilles
              %h4 Lines We Trace Tour 2013
              %p
                Trailer Swift is the name of our trailer. 
                %a{:href => "http://heymarseilles.com"} Lines We Trace 
                is the brand new album we released 3/5/13. 
                Follow our route around the country and catch a show if you can.
            %ul.nav.nav-list.tour-dates
              %li.nav-header.tour-dates-header Upcoming Tour Dates

              %li.nav-header.hey-marseilles-header Hey Marseilles
              %li
                %a{:href => "http://heymarseilles.com/media"} Music and videos
              %li
                %a{:href => "http://heymarseilles.com/store"} Get the record
              %li
                %a{:href => "http://www.facebook.com/heymarseilles"} Facebook
              %li
                %a{:href => "http://www.twitter.com/heymarseilles"} Twitter
              %li
                %a{:href => "http://www.instagram.com/heymarseilles"} Instagram

              %li.nav-header Disclaimer
              %li
                %span
                  All map element locations are approximate and should not be used for navigation. Trailer Swift location is not real-time.
            -#%ul.nav.nav-list
              -#%li.nav-header Notes
              -#%li
                -#%a{:href => "mailto:ptk921@gmail.com"} By Philip Kobernik
              -#%li
                -#%a{:href => "https://github.com/philipkobernik/trailerswift"} Trailer Swift on Github
          / /.well
        / /span
        .span9
          .hero-unit
            = yield
          -#.row-fluid
            -#.span4
              -#%h2 Heading
              -#%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              -#%p
                -#%a.btn{:href => "#"} View details »
            -#/ /span
            -#.span4
              -#%h2 Heading
              -#%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              -#%p
                -#%a.btn{:href => "#"} View details »
            -#/ /span
            -#.span4
              -#%h2 Heading
              -#%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              -#%p
                -#%a.btn{:href => "#"} View details »
            -#/ /span
          -#/ /row
          -#.row-fluid
            -#.span4
              -#%h2 Heading
              -#%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              -#%p
                -#%a.btn{:href => "#"} View details »
            -#/ /span
            -#.span4
              -#%h2 Heading
              -#%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              -#%p
                -#%a.btn{:href => "#"} View details »
            -#/ /span
            -#.span4
              -#%h2 Heading
              -#%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              -#%p
                -#%a.btn{:href => "#"} View details »
            / /span
          / /row
        / /span
      / /row
      -#%hr/
      -#%footer
        -#%p © Company 2013
    / /.fluid-container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
